<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056852281598-ssn4cee64p9sr4faeisn9k89mcn2ei5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056852281598-ssn4cee64p9sr4faeisn9k89mcn2ei5m</string>
	<key>API_KEY</key>
	<string>AIzaSyABP57LXGhxacTQ86a1JrrbymkORe1r1Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>1056852281598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hyperCalendar</string>
	<key>PROJECT_ID</key>
	<string>hyper-calendar-e066b</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-calendar-e066b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056852281598:ios:e48a26b3d8946cc703fdaf</string>
</dict>
</plist>